nav {  
    margin: 0;
    padding: 0;
}

.container{
    margin: 0;
    padding: 10;
    
    display: flex;
    justify-content: center;
}

fieldset {

    margin: 0;
    padding: 10;
}

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.nav-bar li {
    float: left;
}

.nav-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.nav-bar li a:hover {
    background-color: #111;
}

.navbar a:hover {
    color: rgb(255, 255, 255);
}

.navbar h1 {
    text-align: center;
    padding: 30px 20px;
}

body {
    background-image: url(../media/arcade.jpeg);
    
    background-size: cover;
    background-repeat:repeat;
    background-position: center center;
    background-attachment: fixed;
}

h2{
    color:rgb(255, 0, 212);
}
h3 {
    color:rgb(255, 0, 212);
}

h1{
    color:rgb(64, 201, 219);
}

button {
    font-size: medium; 
    font-weight: bold; 
    font-family: "../fonts/neonavy.ttf";
    src: "../fonts/neonavy.ttf";
    background-color: rgb(255, 0, 212); 
    color: aqua;

}
